html {
    box-sizing: border-box;
  }

  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .floated-page-name {
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    float: left;
    height:  90px;
    background: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 120px;
}
  
  
  .floated-nav-toggle { 
    display: none;
  }

  nav {
      display: flex;
      justify-content: space-between;
  }
  
  .nav-small {
      background: black;
      color: white;
  }
  
  nav .left {
      display: flex;
      justify-content: space-around;
  }
  
  nav .right {
      display: flex;
      justify-content: space-around;
  }
  
  .nav-item {
      margin: 10px;
  }
  
  .nav-large {
      background: rgb(250, 250, 250);
  }

  .nav-large-left {
    display: flex;
    align-items: center;
    justify-content: right;
    
  }

  .nav-large-left div  {
      margin-left: 10px;
      font-size: .9rem;
  }

  .nav-large-right{
    display: flex;
    padding: 10px;
    border-left: 1px solid black;
  }
  
  .nav-large-right div{
    margin: 10px;
    font-size: .9rem; 
  }

  .nav-large-right button{
    color: white;
    background:rgb(17, 175, 154);
    border: 1px solid rgb(17, 175, 154);
    border-radius: 3px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    margin-left: 10px;
  }



  .page-header {
      display: flex;
      margin-top:5px;
      margin-bottom: 40px;
  }
  
  .timer {
    color: rgb(77, 75, 75);
  }
  .banner {
      background: rgb(255, 230, 0);
      padding: .5rem .5rem .5rem 5rem;
      clear: both;
    }

  
  .header-main-cont{
      height: 60vh;
      background: rgb(206, 206, 206);
      font-weight: bold;
      padding-left: 30px;
      margin-left: 10px;
  }

  .page-name {
    font-size: 12vw;
    color: white;
  }

  .page-lead-article {
      font-size:3rem;
      padding: 20px;

  }
  
  .header-side-1 {
      background: rgb(177, 21, 21);
      height: 50%;
      margin: 0px 10px 10px 10px;
      font-size: 2.5rem;
      padding: 15px;
  }
  
  .header-side-2 {
      margin: 0px 10px 0px 10px;
      height: 50%;
      background: rgb(214, 27, 27);
      font-size: 2.5rem;
      padding: 15px;
  }
  
  .header-side-cont{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40vw;
      height:60vh;
  }
  
  .news-banner-cont {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      align-items: center;
  }
  .news-banner {
    color:red;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;

  }

  .latest-deals {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 20px 20px;
    color:red;
  }

  .news-head {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .news-subhead {
    display: flex;
    align-items: flex-end;

  }

  .fa-angle-right {
      margin-top: 5px;
      margin-left: 10px;
  }

  .latest-news {
      margin-top: 20px; 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
  }
  
  .grid-image {
    background: rgb(26, 134, 125);
    min-width: 200px;
    height: 200px;
    margin-left: 20px;
  }

  .grid-item {
    margin: 10px;
  }
  
  .grid-info {
    min-width: 200px;
    margin-left: 20px;
  }

  .news-subheader {
      display: flex;
      color: red;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 1.3rem;
  }

  .news-article-cont {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .divider {
      padding: 0px 10px;
  }
  .news-article {
    margin: 20px;
    background: rgb(255, 244, 245);
  }

  .news-article-above {
    background: red;
    color: white;
    padding: 10px 5px 10px 80px;
  }

  .news-article-logo {
    background: green;
    position: relative;
    bottom: 20px;
    left: 10px;
    float: left;
    width: 60px;
    height: 60px;
  }

  .news-article-below {
    background: rgb(221, 167, 167);
    padding: 10px 5px 10px 80px;
    margin-bottom: 5px;
  }

  .news-article-details {
        border-bottom: 1px solid rgb(238, 195, 195);
        padding: 10px;
  }

  .news-article-details div {
      padding: 5px;
  }
  
  .news-article-description {
    padding: 10px;
  }

  .article-sections-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article-section-item {
    background: rgb(207, 8, 8);
    color: white;
    margin: 20px 20px 10px 20px;
    height: 40vh;
    padding: 50px 20px 0px 20px;
    font-size: 1.3rem;
  }

 .widthMaker {
     padding: 0px 20px 20px 20px;
  }
  ul li {
      margin-bottom: 10px;
      margin-left: 25px;
  }


  ul li:before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;
    margin-left: -22px;
  }


  .footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(31, 30, 30);
    height: 30vh;
  }

.footer-links {
    display: flex;
}

  .footer-links div {
      margin: 10px;
      color: rgb(207, 206, 206);
  }

  
  .share-item {
      text-align: center;
      height: 35px;
      width: 35px;
      padding-top: 8px;
      display: flex;
      margin: 10px;
      color: white;
      background: rgb(77, 76, 76);
      border: 1px solid rgb(77, 76, 76);
      border-radius: 50%;

  }

  .footer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    height: 20vh;
    background: rgb(0, 0, 0);
      
  }

  .footer-2 div {
    color: rgb(160, 160, 160);
  }

  .footer-2 div strong {
      font-weight: bold;
      color: white;
  }


.footer-2 div span{
    color: white;
    font-weight:bold;
}

.footer-2-cont div {
    display: inline;
}
  
  @media only screen and (max-width: 1200px) {
    .resize-left-hide {
        display: none;
    }
}

    @media only screen and (max-width: 1100px) {
        .resize-right-hide {
            display: none;
        }
    }

  @media only screen and (max-width: 950px)
  {
    .page-name {
        visibility: hidden;
        margin-bottom: 20px;
    }
    .page-lead-article {
        font-size: 2.2rem;
    }

    .news-banner-cont {
        display: block;
    }

    .news-subheader {
        margin-top: 10px;

    }

    
    .floated-page-name {
        display: flex;
  }
    .resp-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .article-sections-grid {
        grid-template-columns: 1fr 1fr;
    }


}

  @media only screen and (max-width: 885px) {
        .nav-large {
            display: none;
        }

        .nav-small {
            display: none;
        }

        .banner {
            padding: 20px;
            text-align: center;
        }

        .floated-page-name {
            height: 50px;
        }

        .floated-nav-toggle {
            height: 50px;
            align-items: center;
            font-size: 1.2rem;
            display: flex;
            float: right;
            margin-right: 10px;
        }

        .nav-toggle-item {
            padding: 15px;
        }

        .floated-nav-item{
            display: flex;
            align-items: center;
            border-left: 1px solid rgb(184, 183, 183);
            height: 50px;
            
        }

        .page-name {
            display: none;
        }

        .page-header {
            display: block;
            margin: 0px 0px 40px 0px;
            width: 100%;

        }

        .page-lead-article { 
          padding: 20px;
        }

        .header-main-cont {
            height: 25vh;
            margin-right: 10px;
        }

        .header-side-cont{
            margin-top: 10px;
            width: 100%;
        }

        .latest-news {
            grid-template-columns: 1fr;
        }
        
        .grid-item {
            display: flex;
        }

        .grid-image {
            min-width: 100px;
            width: 100px;
            height: 100px;
        }

        .news-article-cont{
            grid-template-columns: 1fr;
        }

        .divider {
            display:none;
        }
        .news-subheader {
            display: block;
            font-size: 1rem;
            padding: 10px 0px;
            line-height: 30px;
        }

        .article-sections-grid {
            grid-template-columns: 1fr;
        }

        .footer-2-cont div{
           width: 250px;
           display: flex;
           justify-content: center;
           margin: 5px;
        }


  }


